# Action Name
name: Automated Releases

# Controls when the action will run
on:
  push:
    branches:
      - master
    tags:
      - 'v*.*.*'
  pull_request:

# Workflow Jobs
jobs:
  # Build Job
  build:
    runs-on: ubuntu-latest
    steps:
      # Step 1 - Checkout Code
      - name: Checkout Code
        uses: actions/checkout@v3
      
      # Step 2 - Extract Environment Variables
      - name: Extract Environment Variables
        uses: FranzDiebold/github-env-vars-action@v2.7.0
      
      # Step 3 - Setup NodeJS
      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          registry-url: 'https://registry.npmjs.org'
      
      # Step 4 - Install NPM Packages
      - name: Install NPM Packages
        run: npm ci
      
      # Step 5 - Build the Action
      - name: Build Action
        run: npm run build
      
      # Step 6 - Extract Package Version
      - name: Extract Package Version
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        id: packageVersion
        uses: martinbeentjes/npm-get-version-action@v1.2.3
      
      # Step 7 - Check Package Version
      - name: Check Package Version
        if: ${{ startsWith(github.ref, 'refs/tags/') && !endsWith(env.CI_REF_NAME, steps.packageVersion.outputs.current-version) }}
        run: exit 1
      
      # Step 8 - Generate the Changelog
      - name: Generate the Changelog
        id: changelog
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        uses: metcalfc/changelog-generator@v3.0.0
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}

      # Step 9 - Create GitHub Release
      - name: Create GitHub Release
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.CI_REF_NAME }}
          name: Release ${{ env.CI_REF_NAME }}
          body: |
            ${{ steps.changelog.outputs.changelog }}
